
.header {
  height: 30px;
  width: 100%;
  text-align: right;
}

.content {
height: 440px;
width: 300px;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
text-align: center;
}

.footer {
background-color: #e3e8ef;
height: 30px;
width: 100%;
position: fixed;
bottom: 0;
right: 0;
}

.flevo {
  display: inline-block;
  }

.fdesno {
  display: inline-block;
  float: right;
}

a {
  text-decoration: none;
  color: #545556;
  margin-left: 10px;
}
